@model IEnumerable<Lims.Models.Assignment>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Assignments</h2>

<p>
    @Html.ActionLink("Add new Employee", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignmentID })
        </td>
    </tr>
}

</table>
